.song-container{
    width: fit-content;
    height: 100vh;
    margin: 0;
    padding: 30px
}

.song-glow-cover{
    position: absolute;
    top: 0;
    height: 250px;
    width: 100%;
    background-size: '';
    margin: 0px -30px;
    filter: blur(70px) saturate(4)
}

.song-glow-bg{
    width: 210px;
    height: 210px;
    filter: blur(15px) saturate(3);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center,
}

.song-img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}